<div class="welcome-dashboard" ng-controller="Tinifier.Section1.Controller">


    <umb-dashboard>
        <div class="flex justify-center">
            <umb-box>
                <umb-box-content>
                    <form ng-submit="submit()">
                        <section>
                            <div style="width: 100%">
                                <div class="umb-property" style="display: inline-block;">
                                    <div class="control-group umb-control-group">
                                        <div class="umb-el-wrap">
                                            <h3>Contact us</h3>
                                            <label class="control-label">Name <span class="ng-scope"> <strong class="umb-control-required">*</strong> </span></label>
                                            <input id="nameInput" class="umb-property-editor ng-dirty ng-valid ng-valid-required" type="text" style="" ng-model="report.Name" placeholder="Enter your name">



                                            <label class="control-label">Email <span class="ng-scope"> <strong class="umb-control-required">*</strong> </span></label>
                                            <input id="emailInput" class="umb-property-editor ng-dirty ng-valid ng-valid-required" type="text" style="" ng-model="report.Email" required="" placeholder="Enter your email">

                                            <!--CheckBox Container-->
                                            <label class="control-label">Type <span class="ng-scope"> </span></label>

                                            <div style="display: inline;">

                                                <div class="ng-scope">
                                                    <input type="radio" name="type" style="margin: 0;" ng-model="report.Type" ng-value="'Bug'" checked>
                                                    <label class="ng-binding">
                                                        Report a bug
                                                    </label>
                                                </div>

                                                <div class="ng-scope">

                                                    <input type="radio" name="type" style="margin: 0;" ng-model="report.Type" ng-value="'Improvement'">
                                                    <label class="ng-binding">
                                                        Suggest an improvement
                                                    </label>
                                                </div>

                                                <div class="ng-scope">

                                                    <input type="radio" name="type" style="margin: 0;" ng-model="report.Type" ng-value="'Other'">
                                                    <label class="ng-binding">
                                                        Other
                                                    </label>
                                                </div>
                                                <div style="height: 20px;"></div>

                                                <p>
                                                    <label class="control-label">Description <span class="ng-scope"> <strong class="umb-control-required">*</strong> </span></label>
                                                </p>
                                                <p>
                                                    <textarea id="descriptionText" style="width: 100%; height: 100px;" ng-model="report.Description" placeholder="Please, describe a problem"></textarea>
                                                </p>

                                                <button id="submit-btn" type="button" class="btn btn-primary btn-large" style="padding: 14px 40px; width: 100%;" data-toggle="modal" ng-click="submit()" data-target="#myModal"><i id="label-btn" class="icon-paper-plane"></i>  </button>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>


                    </form>
                </umb-box-content>

            </umb-box>
        </div>

    </umb-dashboard>

</div>
